# Ignore the virtual environment folder
recom_sys_env/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore environment variable files
.env